<header class="header">
    <div class="container">
        <nav>
            <ul>
                <li><a href='/'>Home</a></li>
                <li><a href='/about'>About</a></li>
                <li><a href='/blog'>Blog</a></li>
            </ul>
        </nav>
    </div>
</header>

<style>
    .header {
        height: 40px;
        background: #d2d4bc;
    }

    .header .container {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px;
    }

    .header nav ul {
        display: flex;
    }

    .header nav ul li {
        padding: 0 10px;
    }

    .header nav ul li a {
    }
</style>
